<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Ubuntu" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      
        <!-- CDN -->
        
		    <link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand|Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- CSS -->
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    {{{body}}}



 <!---------------------------------Javascript--------------------------------->
        <script src="https://code.jquery.com/jquery-3.2.1.js"
              integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
              crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
             
<<<<<<< HEAD
        

<!-----------------------------------Script file----------------------------->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-----------------------------------Side bar (board)----------------------------->
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
=======
        <script src="js/jquery-1.11.1.min.js"></script>
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/retina-1.1.0.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
<!-- Text editor-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.pkgd.min.js"></script>
        <script src="js/scripts.js"></script>    
        
        
                  
                            
                                      
                                                          
<!-- Text editor-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.3/js/froala_editor.pkgd.min.js"></script>
        <script src="/js/scripts.js"></script>    
        
                 
 
<!----------------------Initialize the editor.--------------------->
    
    <script> $(function() { $('#editor').froalaEditor() }); </script>                                   
        
<!------------------------Add and Remove child---------------------------->
    <script type="text/javascript">
       $(document).ready(function() {
       
        $("button[name='addDom']").click(function() {
            
            var domElement = $('<div class="child"><div class="row "><hr><div class="col-md-12"><div class="form-group"><label class="sr-only" for="f1-first-name">Full Name</label> <input type="text" name="memberName[]" placeholder="Full name" class="f1-first-name form-control" id="f1-first-name"></div><div class="form-group"><label class="sr-only" for="f1-email">Email</label><input type="text" name="memberEmail[]" placeholder="Email" class="f1-email form-control" id="f1-email"></div><div class="form-group"><label class="sr-only" for="f1-number">Id</label><input type="number" name="memberId[]" placeholder="Id" class="f1-number form-control" id="f1-number"></div><br></div</div></div><br><div class="col-md-12"><button class="removeChild btn btn-danger" >Remove Member</button></div><hr></div>');
       
       $(this).after(domElement);
        });
       $(document).on('click','button.removeChild',function(){
         $(this).closest('div.child').remove();
       });
    
});
>>>>>>> 5d8aac8b82f5bd4098271db8eee99e85f7f45d5a
    </script>
  </body>
</html>