<div class="jumbotron">
    <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Projects</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
       
      <!-- Modal content-->
      {{#each projectSubmit}}
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{projectName}}</h4>
        </div>
        <div class="modal-body">
          <p>{{projectSummary}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <!-- data-target="adil.html" -->
        </div>
      </div>
      {{/each}}
      
    </div>
  </div>
  
</div>

</div>