<div class="jumbotron">
    <div class="container">
        {{#each registered}}
        <h2>{{student_id}} with {{course_code}}</h2>
        {{/each}}
       
        
    </div>
    <table>
        
    </table>

</div>