body {
      font-family: 'Roboto', sans-serif;
      
    }
.back_color
{
    height: auto;
    background-color: #1D2733;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: aliceblue;
}
#back1
{
    padding: 2rem;
    background-color: #384B5C;
    height:auto;
    border-radius: 4px 0 0 4px;
}
#back1 h2
{
    margin-top: 1em;
    letter-spacing: 2px;
    margin-bottom: 236px;
    
}
#back1 h3
{
    
    letter-spacing: 2px;
  
}
#back1 p
{
    color: #E4E6E6;
    
    margin-top: 60%;
}

#back2
{
    
    background-color: #304150;
    height: auto;
    border-radius: 0 4px 4px 0;
    padding-top: 37px;
}
#back2 input
{
   
    background-color: #304150;
    color: white;
    
    
}
#back2 .input-group
{
   
   padding: 25px;
    
}
#back2 .input-group-addon
{
   
  background-color: #1d2733;
    color: #bdb5b5;
}
#back2 .checkbox
{
   
  padding: 0px 25px 25px 25px;
     
}
#back2 button
{
   
  background-color: rgba(50, 172, 237, 0.2);
  width: 100%;
  border: none;
  border-radius: 0px;
  height: 50px; 
  color:#E4E6E6;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .9s linear;
  font-size: 14px;    
}
#back2 button:hover
{
   
  background-color: rgba(240, 250, 255, 0.1);
  transition: all .9s linear;
  color:#E4E6E6;
}
.already_account h4
{
    margin-top: 5%;
}