body {
    margin: 0px;
    background-color: #eeeeee !important;
}
h1,h2,h3,h4,h5,h6
{
    font-family: 'Source Sans Pro', sans-serif;
}
p,button
{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Quicksand', sans-serif;
   
    
}
.fluid_margin_padding
{
    margin-left:0% !important;
    margin-right: 0% !important;
    padding-left: 0% !important;
    padding-right: 0% !important;
}
/****************Navigation*******************/

.navigation .navbar-inverse
{
    background-color:#373f46;
    border: none;
    border-radius: 0px;
}
.navigation button
{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .9s linear;
    font-size: 11px;
    line-height:  1.728571;
    
}

.navigation .navbar
{
    margin-bottom: 0px;
}
.navbar-right .fa
{
    font-size: 25px; 
    color: whitesmoke;
}



/***********drop_content**************/
.drop_content
{
    width:300px;
    padding: 10px;
}
.drop_content .fa
{
  color: black;
  font-size: 20px;    
}
.drop_content p
{
  
  font-size: 12px;    
}
.drop_content h5
{
  font-weight: bold;
  letter-spacing: 2px;    
}
.drop_content a
{
    color: black;
    text-decoration: none; 
}
.drop_content a:hover
{
   color:#1a486f;  
}




/***********Personal Board************/
.board
{
    
    margin-top: 2%;
    padding-bottom: 2%;
    background-color: #eeeeee;
}

.board button
{
    width: 100%;
    height: 100px;
}
