<div class="container-fluid back_color already_account">
         <div class="container">  
            
             

<!-------------------------------------Log In-------------------------------->
<div class="container-fluid login">
    <div class="container">  
        
        <div class="row">
            
             {{#if errorMessage}}
                <div class="col-md-12 alert alert-danger alert-dismissible" role="alert">
                    <button id="disbtn" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                    <strong>{{ errorMessage}}</strong> 
                    
                </div>
             {{/if}}
             {{#if successMessage}}
                    <div class="col-md-12 alert alert-success alert-dismissible" role="alert">
                        <strong>Well done! </strong> {{ successMessage}}
                        <button id="disbtn" type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {{/if}}
            <div class="col-md-2 col-sm-12">

            </div>
            <div class="col-md-3 col-sm-12 margin_padding">

                <div class="log_left">
                    <h3 class="text-center"><i class="fa fa-eercast" aria-hidden="true"></i> Synergy</h3>
                    <br>
                    <h2 class="text-center">Log In</h2>
                    <br>
                    <p>Having trouble signing in?<br><br>
                     <a href="#" data-toggle="modal" data-target="#forgotPasswordModal" 
                     class="forgot-pass">Forgot Password?</a></p>
                </div>
            </div>
            
            <div class="col-md-5 col-sm-12 margin_padding">
                <div class="log_right">
                    <form method="post" action="/login-supervisor">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="name" type="name" class="form-control" name="username" placeholder="User name">
                        </div>
                        
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        
                        <button type="submit" class="btn btn-default">Log In</button>  
                    </form>  
                </div>
            </div>
            
            <div class="col-md-2 col-sm-12">

            </div>  
        </div>
    </div>       
</div>

            
<!-- Modal Form-->
                
                    <div class="card-body text-center">
                
                      <!-- Modal-->
                      <div id="forgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                                
                              <p>Password Reset</p>
                              
                            <div class="modal-body">
                              <form method="post" action="/forgot-password">
                                <div class="form-group">
                                  <label>Email</label>
                                  <input type="email" name="emailForgot" placeholder="Email Address" class="form-control">
                                </div>
                                
                                <div class="modal-footer">
                                  <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                  <button type="submit" class="btn btn-success">Send Link</button>
                                </div>
                              </form>
                            </div>
                            
                          </div>
                        </div>
                      </div>
                    </div>