<div class="container-fluid back_color already_account">
         <div class="container">      
             <div class="row">
                 <div class="col-md-2">
                     
                 </div>
                 <div class="col-md-3 fluid_margin_padding">
                     
                         <div class="back1">
                             <h3>Synergy</h3>
                             <h2>Log In</h2>
                             <p>Having trouble signing in? <a href="#">Retrieve your username(s) </a>or <a href="#">reset your password.</a></p>
                         </div>
                 </div>
                 <div class="col-md-5 fluid_margin_padding">
                     <div class="back2">
                           <form method="post" action="/login-supervisor">
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="name" type="name" class="form-control" name="username" placeholder="User name">
                              </div>
                              <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                              </div>
                             <div class="checkbox">
                             </div>
                             <button type="submit" class="btn btn-default">log in</button>  
                           </form>  
                     </div>
                 </div>
                    
             </div>
         </div>       
     </div>