<br>
<br>
        <div class="container">
            <div class="row justify-content-center">
                <div class="jumbotron col-6">
                    <form method="post" action="/todo">
                            <div class="form-group">
                                <label for="pwd">Label : </label>
                                <input type="text" name="label" class="form-control" id="label">
                            </div>
                           
                            <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>