 <div class="container">
        <div class="row">
    <div class="col-md-12 chat">
       
       
        <div class="row">
            <div class="col-md-3 chat_left">
               <h3><i class="fa fa-users" aria-hidden="true"></i>&nbsp;People</h3>
               <hr>
               <p>&nbsp;online</p>
               <ul class="list-group">
                  <li class="list-group-item list-group-item-success"><strong>Gazi Muhammad Akil</strong></li>
                  <br>
                  <li class="list-group-item list-group-item-success"><strong>Adil Chowdhury</strong></li>
                  <br>
                  <li class="list-group-item list-group-item-success"><strong>Md. Ashik</strong></li>
                  <br>
                  <li class="list-group-item list-group-item-success"><strong>Ahnaf Ar Rafi</strong></li>
                  <br>
                </ul>
                
            </div>
            <div class="col-md-9 chat_right">
               <div class="row">
                   <div class="col-md-12 right_inside">
                       
                   </div>
               </div> 
               
               <div class="row message">
                   <div class="col-md-8 margin_padding_zero">
                       <textarea class="form-control" name="" id="" rows="1" placeholder="Text message..."></textarea>
                   </div>
                   <div class="col-md-4 margin_padding_zero">
                       <button class="btn btn-success btn-block">
                           Send
                       </button>
                   </div>
               </div> 
            </div>
        </div>
        
        
        
        
            </div>
        </div>    
    </div>
