<div class="container-fluid background">
        <div class="row">
            <div class="col-md-12">
                    
                <div class="div_width">
                       

                        <div class="col-lg-4">
                            
                                <button type="button" data-toggle="modal" data-target="#myModal2" class="btn btn-default">Assign Supervisor</button>
                                <!-- Modal-->
                                <div id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                                    <div role="document" class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h4 id="exampleModalLabel" class="modal-title">Assign Supervisor</h4>
                                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                            
                                            <form method="post" action="/proposals/assign/5a25b118504a3d1ab4e78c64">
                                                <div class="form-group">
                                                    <label>Select Supervisor</label>
                                                    <select class="custom-select" name="name">
                                                        <option selected> Choose One...</option>
                                                            <option  value="Md. Ashiqur Rahman">Md. Ashiqur Rahman</option>
                                                            <option  value="Saiful Ambia Chawdhury ">Saiful Ambia Chawdhury </option>
                                                    </select>                                                                                
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                                    <button type="submit" class="btn btn-primary">Add</button>
                                                </div>
                                                
                                            </form>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                   <img src="/img/logo-white.png" height="150" width="150" class="mx-auto d-block img-responsive ">
                    <h2 class="text-center">Project proposal<br>on</h2>
                    <h3 class="text-center">Web Application</h3>
    <!--Submitted By-->
                    <div class="project_member">
                       <h4 class="text-center">Submitted By</h4>
                       <br>
                       <br>
                       <div class="row">
                        <div class="text-center col-md-6">
                            <h4>Nazmus Sakib</h4>
                            <h4>Md.</h4>
                            
                        </div>
                        <div class="text-center col-md-6">
                            <h4>1412020042</h4>
                            <h4>1412020044</h4>
                           
                            
                        </div>
                       </div>    
                    </div>
    <!--Header-->
                    <h2 class="text-center">Project Proposal</h2>
                    <hr>
                    <br>
                    <br>
    <!--Project Name:-->
                    <p>
                        <span class="h3" style="letter-spacing: 2px;font-family: 'Roboto', sans-serif;">Project Name: LU Community Forum</span>   

                    </p>
                    <br>
    <!--Abstract:-->
                    <h3>Abstract:</h3>
                    <br>
                    <p>
                         This application will provide us an easy way to manage our projects. It will establish a good collaboration between students and supervisor. This application will also store all the projects in a project showcase. The users can access the showcase and there will be overview of all completed projects done so far in this application. 
                    </p>
                    <br>
    <!--Objective:-->        
                    <h3>Objective:</h3>
                    <br>
                    <p>
                      The goal of the project is to develop a web based application named "Synergy" which can be accessed via web browser. The platform will provide students to submit their project proposals and project board can assign a supervisor. A supervisor can create project board and also add students to that board. Synergy is a collaboration tool that will organize projects into boards. In one glance, Synergy will show you what's being worked on, who's working on what, and where something is in a process. All projects, tasks, all of team-organized, accounted for, and easily visible at a glance. New users can instantly understand the list and card metaphor and can be working on Synergy within minutes. 
                    </p>
                    <br>
    <!--Key feature-->        
                    <h3>Key features:</h3>
                    <br>
                    <ul class="list-unstyled">
                        <li>-Project Planning</li>
                        <li>-Collaboration</li>
                        <li>-File Sharing</li>
                        <li>-Bug Tracking</li>
                        <li>-Milestone Tracking </li>
                        <li>-Task Management</li>
                        <li>-Resource Management </li>
                    </ul>
                    <br>
    <!--Number of module:-->        
                    <h3>Number of Modules:</h3>
                    <br>
                    <p>The system after careful analysis has been identified to be presented with the following modules: </p>
                    <ul class="list-unstyled">
                        <li>-User Module</li>
                        <li>-Project-board Module</li>
                    </ul>
                    <br>
    <!--Software requirement:-->        
                    <h3>Software Requirements:</h3>
                    <br>
                    <p>Programming Language: JavaScript, php, ruby </p>
                    <p>User Interface: HTML, CSS </p>
                    <p>IDE/Workbench: vs code, brackets </p>
                    <p>Database : MySQL </p>
                    <p>Version Control System : Git</p>
                    <br>
    <!--Conclusion:-->        
                    <h3>Conclusion:</h3>
                    <br>
                    <p>Our main purpose is to develop this platform for students like us, developers, company etc. If we get proper support from the authority then we can develop this platform better in near future. </p>
                    
                </div>
                
            </div>    
        </div>
    </div>